/home/gneya/defect-detection/metal_surface/model_inference/metal_surface_model.pkl filter=lfs diff=lfs merge=lfs -text
/home/gneya/defect-detection/engine/model_inference/engine_model.pkl filter=lfs diff=lfs merge=lfs -text
